%table.team{:cellpadding => '0px', :cellspacing => '0px'}
  %tr
    %th &nbsp;
    %th.sub{:colspan => 2} S
    %th.keeper{:colspan => 2} K
    %th.tick.money &euro;

    %th Player


    %th.round &nbsp;


    %th.score &nbsp;
    %th.team A v B
    %th.score &nbsp;

    %th.score &nbsp;
    %th.team A v C
    %th.score &nbsp;

    %th.score &nbsp;
    %th.team B v C
    %th.score &nbsp;


    %th.round &nbsp;


    %th.score &nbsp;
    %th.team A v B
    %th.score &nbsp;

    %th.score &nbsp;
    %th.team A v C
    %th.score &nbsp;

    %th.score &nbsp;
    %th.team B v C
    %th.score &nbsp;


    %th.round &nbsp;


    %th.score &nbsp;
    %th.team A v B
    %th.score &nbsp;

    %th.score &nbsp;
    %th.team A v C
    %th.score &nbsp;

    %th.score &nbsp;
    %th.team B v C
    %th.score &nbsp;


  - 3.times do |i|
    - 6.times do |q|

      %tr
        - if q == 0
          %td.letter{:rowspan => 6}= ['A', 'B', 'C'][i]
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.name &nbsp;

        - 3.times do |x|

          %td.round &nbsp;

          - 3.times do |y|

            - class_name = 'game'

            - if i == 0
              - class_name = y == 2 ? 'blank' : 'game'

            - if i == 1
              - class_name = y == 1 ? 'blank' : 'game'

            - if i == 2
              - class_name = y == 0 ? 'blank' : 'game'

            %td{:colspan => 3, :class => class_name} &nbsp;

    - unless i == 2
      %tr
        %td.separator{:colspan => 40} &nbsp;

%br/
%br/


%table.kitty{:cellpadding => '0px', :cellspacing => '0px'}
  %tr
    %td.label Previous Balance
    %td &nbsp;

  %tr
    %td.label  Cost for current week
    %td &nbsp;

  %tr
    %td.label  Amount from players
    %td &nbsp;

  %tr
    %td.label  Amount from kitty
    %td &nbsp;

  %tr
    %td.label  Surplus/shortfall
    %td &nbsp;

  %tr
    %td.label  New balance
    %td &nbsp;

%br
%br

%table.notes{:cellpadding => '0px', :cellspacing => '0px'}

  - 6.times do
    %tr
      %td &nbsp;
