%table
  %th
    %td.money &euro;
    %td{:colspan => 2} A
    %td &euro;
    %td{:colspan => 2} B
    %td &euro;
    %td{:colspan => 2} C

  - 6.times do
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
