- players = []
- 3.times {|i| players[i] = [] }

- players[0][0]  = "Jamie"
- players[0][1]  = "Jimmy"
- players[0][2]  = "Carlos"
- players[0][3]  = "Philip"
- players[0][4]  = "Boris"
- players[0][5]  = ""

- players[1][0]  = "Greg"
- players[1][1]  = "Gary"
- players[1][2]  = "Chris M"
- players[1][3]  = "Rich"
- players[1][4]  = ""
- players[1][5]  = ""

- players[2][0]  = "Chris S"
- players[2][1]  = "Jansen"
- players[2][2]  = "Dan"
- players[2][3]  = "Sergio"
- players[2][4]  = "Lewis"
- players[2][5]  = ""

%table.team{:cellpadding => '0px', :cellspacing => '0px'}
  %tr
    %td{:colspan => 8}
    - d = 1
    - 3.times do |i|
      - 3.times do
        %td.game-number{:colspan => 3}= d
        - d += 1
      - if i != 2
        %td &nbsp;

    %tr
    %th &nbsp;
    %th.sub{:colspan => 2} sub
    %th.keeper{:colspan => 2} gol
    %th.tick.money &euro;

    %th Player


    %th.round &nbsp;

    - 3.times do |i|
      %th.score &nbsp;
      %th.team A v B
      %th.score &nbsp;

      %th.score &nbsp;
      %th.team A v C
      %th.score &nbsp;

      %th.score &nbsp;
      %th.team B v C
      %th.score &nbsp;

      - if i != 2
        %th.round &nbsp;

  - 3.times do |i|
    - 6.times do |q|

      %tr
        - if q == 0
          %td.letter{:rowspan => 6}= ['A', 'B', 'C'][i]
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.tick &nbsp;
        %td.name= players[i][q]

        - 3.times do |x|

          %td.round &nbsp;

          - 3.times do |y|

            - class_name = 'game'

            - if i == 0
              - class_name = y == 2 ? 'blank' : 'game'

            - if i == 1
              - class_name = y == 1 ? 'blank' : 'game'

            - if i == 2
              - class_name = y == 0 ? 'blank' : 'game'

            %td{:colspan => 3, :class => class_name} &nbsp;

    - unless i == 2
      %tr
        %td.separator{:colspan => 40} &nbsp;

%br/
%br/

%table
  %tr
    %td
      %table.game-points
        %tr
          %th &nbsp;
          %th A
          %th B
          %th C
        - i = 1
        - 3.times do
          - 3.times do |y|
            %tr
              %td= i
              - 3.times do |q|
                - if (y == 0 && q == 2) || (y == 1 && q == 1) || (y == 2 && q == 0)
                  %td.game-points.black &nbsp;
                - else
                  %td.game-points &nbsp;
              - i += 1
        %tr
          %td Total
          - 3.times do
            %td
    %td

      %table.kitty{:cellpadding => '0px', :cellspacing => '0px'}
        %tr
          %td.label Previous Balance
          %td 80 &euro;

        %tr
          %td.label  Cost for current week
          %td &nbsp;

        %tr
          %td.label  Amount from players
          %td &nbsp;

        %tr
          %td.label  Amount from kitty
          %td &nbsp;

        %tr
          %td.label  Surplus/shortfall
          %td &nbsp;

        %tr
          %td.label  New balance
          %td &nbsp;
